<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DareWithMe - Mobile</title>
    <link rel="stylesheet" href="/homeM/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Fredoka:wght@500&family=Lilita+One&family=Montserrat:wght@500&family=Pacifico&family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            
            <div class="logo-text">Stranger Dare</div>
            
        </header>
        <div class="content">
            <p id="headline">Whom you wanna play with?</p>
            <div class="buttons">
                <button class="btn random" id="btn1">Random</button>
                <button class="btn friends" id="btn2">Friends</button>
            </div>
            <p class="info-text"></p>
            <div class="welcome-section">
                <p>Welcome to <br><span class="brand-name">Stranger Dare</span></p>
                <p class="description">"Stranger Dare" brings the classic game of Truth and Dare to the virtual world, ensuring endless entertainment and excitement. Gather your friends, join the game, and let the dares begin!</p>
            </div>
        </div>
    </div>
    <footer>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Rules</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Share</a></li>
            </ul>
        </nav>
    </footer>
</body>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
<script src="homeM/script.js"></script>
</html>
